{
  "kernel.layer_name.memory_layer.class": "ghidravol.DebuggerLayer",
  "kernel.layer_name.memory_layer.location": "vol://",
  "_COMMENT_physical.py": "you may have to hardwire the maximum_address in physical.py to something large, i.e. larger than phys RAM",
  "decorate_comm": false,
  "kernel.layer_name.class": "volatility3.framework.layers.intel.Intel32e",
  "_COMMENT_kernel_virtual_offset": "retrieved using 'sudo su; cat /proc/kallsyms | grep init_top_pgt'",
  "_COMMENT_kernel_virtual_offset": "or 0 if booted with 'nokaslr'",
  "kernel.layer_name.kernel_virtual_offset": 0,
  "_COMMENT_page_map_offset": "any CR3 value or the Vol-computed init DTB or 0xDBACE000L (3685539840) for the active CR3",
  "kernel.layer_name.page_map_offset": 3685539840,
  "kernel.symbol_table_name.class": "volatility3.framework.symbols.linux.LinuxKernelIntermedSymbols",
  "_COMMENT_isf_url": "the kernel-matched symbols store in volatility_root/volatility3/symbols/linux",
  "kernel.symbol_table_name.isf_url": "file:///{vol3_install_dir}/volatility3/symbols/linux/vmlinux-5.19.0-42-generic.json",
  "kernel.symbol_table_name.symbol_mask": 281474976710655,
  "pid": [],
  "threads": false
}
